body {
  background-color: blue;
  font-family: Arial, sans-serif;
}

footer {
  text-align: center;
  padding: 10px;
  font-size: 0.9rem;
  color: #f0f0f0;
  position: fixed;
  bottom: 0;
  width: 100%;
}
a {
  color: #ffcc00;
  text-decoration: brown underline;
}
